﻿body {
    font-family: Arial;
    background-color:darkgray;
}

p.info {
    font-size: 150%;
    font-style: italic;
    width: 25%;
    float:left;
    padding-left: 2%;
}

.background {
    	background: url(../Quiz/images/backgroundvirustransp.png) repeat;

}
div.newsBox a {
    margin-left: 70%;
    text-align: right;
    text-decoration: none;
    color: darkblue;
}

div.newsBox {
    margin-left: 15%;
    border-left: 2px solid black;
}

div.newsBox p {
    font-size: 150%;
    font-style: italic;
    padding-left: 2%;
}

h1.bigTitle {
    padding-top: 1.3em;
    color: darkorange;
    opacity: 1;
    text-align: center;
    background-color: black;
    margin-right: 15%;
    margin-left: 15%;
}

h2.sTitle {
    font-style: italic;
    text-align: center;
}

main table thead {
    color: saddlebrown;
    margin-bottom: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    padding-top: 5%;
}

th.onespace {
    padding-right: 0%;
    color: maroon;
}


td, th {
    border-collapse: separate;
    padding-left: 0%;
    text-align: center;
    text-decoration: none;
    width: 5%;
    padding-bottom: 1%;
    margin-top: 1%;
    border-right: 1px solid black;
}

    td a {
        text-decoration: none;
        color: darkcyan;
        font-weight: bold;
    }