div#test{
	border:red 4px solid;
    padding:20px 40px 40px 40px;
    background: url(../images/backgroundvirustransp.png);
	box-shadow: 0px 0px 20px 10px black;
	width:75%;
}
/* main input, select {
    display: block;
	padding: 0.3em;
    margin-left: 9em;
    text-align: left;
    border-color: lightsteelblue;
} 
.border {
	border-radius:4px;
} */